@import "tailwindcss";

/* Variables */

:root {
  --primary : rgb(240, 240, 240);
  --secondary : rgb(50, 50, 50);
  --accent : rgba(4, 114, 188, 1);
  --secondaryAccent : rgba(255, 220, 40, 0.9);
  --tertiaryAccent : rgba(255, 255, 255, 1);
  --background : rgb(255, 255, 255);
  --backgroundSecondary : rgb(65, 65, 65);
  --sectHeader : rgba(255, 255, 255, 0.71);
  --sectBody : rgba(240, 240, 240, 0.71);
  --disabled : rgba(150, 150, 150, 0.1);
  --disabledColor : rgba(150, 150, 150, 0.2);
  --text : rgb(37, 37, 37);
  --headerBg : rgba(255, 255, 255, 0.3);
  --buttonBg : rgb(233, 233, 233);
  --shadow : 0px 4px 4px 2px rgba(65, 65, 65, 0.05);
  --sectionShadow : 0px 50px 30px 0px rgba(0, 0, 0, 0.05);
  --shadowSecondary : 0px 4px 8px rgba(185, 185, 185, 0.1);
  --bgPattern1: rgba(0, 0, 0, 0.05);
  --bgPattern2: rgba(0, 0, 0, 0.1);
  --bgPattern3: rgba(0, 0, 0, 0.15);
  --bgPattern4: rgba(0, 0, 0, 0.2);
  --bgPattern5: rgba(0, 0, 0, 0.25);
  --bgPattern6: rgba(0, 0, 0, 0.3);
  --commandBgDot: rgba(4, 114, 188, 0.9);
  --commandBgMain: rgba(255, 220, 40, 1);
  --commandBgTitle: rgba(4, 114, 188, 1);
  --commandBgMainSecondary: rgba(151, 193, 221, 1);
  --commandBgMainTertiary: rgba(255, 255, 255, 0.9);
  --commandBgSub: rgba(255, 155, 40, 1);
  --commandShadow: 3px 3px 1px rgba(65, 65, 65, 0.1);
  --commandText: rgb(51, 51, 51);
  --dividerColor: rgba(0, 0, 0, 0.15);
  --homeMarker: rgba(75, 75, 75, 0.03);
  --aboutMarker: rgba(75, 75, 75, 0.04);
  --projectsMarker: rgba(75, 75, 75, 0.05);
  --contactMarker: rgba(75, 75, 75, 0.06);
  --activeMarker: rgba(0, 83, 138, 0.5);

  --loader-animation-speed: 0.75s;
}

[data-theme="dark"] {
  --primary : rgb(25, 25, 25);
  --secondary : rgb(15, 15, 15);
  --accent : rgba(204, 173, 0, 1);
  --secondaryAccent : rgba(4, 114, 188, 0.9);
  --tertiaryAccent : rgba(15, 15, 15, 1);
  --background : rgb(40, 40, 40);
  --backgroundSecondary : rgb(25, 25, 25);
  --sectHeader : rgba(40, 40, 40, 0.71);
  --sectBody : rgba(30, 30, 30, 0.71);
  --disabled : rgba(150, 150, 150, 0.1);
  --disabledColor : rgba(150, 150, 150, 0.2);
  --text : rgb(223, 223, 223) ;
  --headerBg : rgba(50, 50, 50, 0.3);
  --buttonBg : rgb(20, 20, 20);
  --shadow : 0px 8px 8px 5px rgba(0, 0, 0, 0.05);
  --sectionShadow : 0px 50px 30px 0px rgba(0, 0, 0, 0.05);
  --shadowSecondary : 0px 4px 8px rgba(35, 35, 35, 0.1);
  --bgPattern1: rgba(125, 125, 125, 0.05);
  --bgPattern2: rgba(125, 125, 125, 0.1);
  --bgPattern3: rgba(125, 125, 125, 0.15);
  --bgPattern4: rgba(125, 125, 125, 0.2);
  --bgPattern5: rgba(125, 125, 125, 0.25);
  --bgPattern6: rgba(125, 125, 125, 0.3);
  --commandBgDot: rgba(4, 114, 188, 1);
  --commandBgMain: rgba(255, 220, 40, 1);
  --commandBgTitle: rgba(255, 220, 40, 0.9);
  --commandBgMainSecondary: rgba(151, 193, 221, 1);
  --commandBgMainTertiary: rgba(36, 36, 36, 0.8);
  --commandBgSub: rgba(255, 155, 40, 1);
  --commandShadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
  --commandText: rgb(51, 51, 51);
  --dividerColor: rgba(255, 255, 255, 0.1);
  --homeMarker: rgba(5, 5, 5, 0.03);
  --aboutMarker: rgba(5, 5, 5, 0.04);
  --projectsMarker: rgba(5, 5, 5, 0.05);
  --contactMarker: rgba(5, 5, 5, 0.06);
  --activeMarker: rgba(204, 173, 0, .4);
}

/* Fonts */

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu Sans Mono/UbuntuSansMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu Sans Mono/UbuntuSansMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu Sans Mono/UbuntuSansMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu Sans Mono/UbuntuSansMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

.ubuntu-bold {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
}

.ubuntu-semi-bold {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 600;
}

/* Global Styles */

html, body {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--dividerColor) transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  color : var(--text);
  font-family: 'Ubuntu Mono', monospace;
}

#root {background: radial-gradient(circle at 50% 50%, var(--backgroundSecondary) 60%, var(--secondary) 100%);}

.custom-section {
  --size: 25px;
  overflow-y: hidden;
  .sublayer, .toplayer {
    pointer-events: none;
  }
  .grid-layer {
    display: grid;
    place-items: center;
    background: var(--primary);
    content-visibility: auto;
    contain-intrinsic-size: 100vh;
  }
  .bglayer {
    contain: paint;
    background: conic-gradient(from 180deg at 50% 70%,
      var(--bgPattern1) 0deg,
      var(--bgPattern2) 72.0000010728836deg,
      var(--bgPattern3) 144.0000021457672deg,
      var(--bgPattern4) 216.00000858306885deg,
      var(--bgPattern5) 288.0000042915344deg,
      var(--bgPattern1) 1turn);
    width: 100%;
    height: 100%;
    mask:
      radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
      url("/images/backgrounds/noise-mask.png") 256px 50% / 256px 256px;
    -webkit-mask: radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
      url("/images/backgrounds/noise-mask.png") 256px 50% / 256px 256px;
    mask-composite: intersect;
    -webkit-mask-composite: intersect;
    animation: flicker 20s infinite linear;
    animation-play-state: paused;
  }
}


.top-markers, .bottom-markers {
  height: 25rem;
  width: 50rem;
  display: flex;
  align-items: center;
}

.top-markers {
  justify-content: start;
  flex-direction: column-reverse;
  transform: rotate(135deg) translate(0, 25rem);
}

.bottom-markers {
  justify-content: end;
  flex-direction: column;
  transform: rotate(135deg) translate(0, -25rem);
}

.home-marker, .about-marker, .projects-marker, .contact-marker {
  height: 3rem;
  width: 100%;
}

.home-marker {background-color: var(--homeMarker);}
.about-marker {background-color: var(--aboutMarker);}
.projects-marker {background-color: var(--projectsMarker);}
.contact-marker {background-color: var(--contactMarker);}

section{
    position: relative;
    overflow: hidden;
    align-items: center;
    background-size: cover;
    color : var(--text);
    transition: transform 0.3s ease;
}

.terminal::before {
  content: '> ';
  color: var(--accent);
}

header {
  position: fixed;
  top: 0;
  background-color: var(--headerBg);
  z-index: 1000;
  box-shadow: var(--shadowSecondary);
  color: var(--text);
  button {
    cursor: pointer;
    border: none !important;
    border-bottom: 3px solid transparent !important;
    background-color: transparent !important;
    transition: color border 0.5s ease;
    padding: 10px;
    height: 60px;
  }
  button:hover {
    color: var(--accent);
    border: none;
    background-color: transparent;
  }
  .active {border-bottom: 3px solid var(--accent) !important;}
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--headerBg);
  color: var(--text);
  z-index: 1;
  box-shadow: var(--shadowSecondary);
  button {
    color: var(--text);
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: color 0.3s ease;
  }
  button:hover {
    color: var(--accent);
    border: none;
    background-color: transparent;
  }
  li a, button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  hr {color: var(--dividerColor);}
}

.pinned {
  box-shadow: var(--sectionShadow);
  transition: box-shadow .2s ease-in, transform 0.2s ease-in-out;
  position: sticky;
  bottom: 0;
  .bglayer {
    animation-play-state: running;
  }
  .typed .char {
    --tSpeed: 20ms;
    --charThickness: -2px;

    opacity: 0;
    display: inline;
    animation: type var(--tSpeed) forwards;
    animation-delay: calc(var(--tSpeed) * var(--char-index));
  }
  .container .event {
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
    animation-delay: calc(100ms * var(--event--index));
  }
  .projects .thumbnail {
    opacity: 0;
    animation: slideRight 1s ease-in-out forwards;
    animation-delay: calc(100ms * var(--thumbnail--index));
  }
  .sect-text .logo-container {
    animation: fadeIn 1.5s ease-in-out forwards;
  }
}

.pinned[data-first="true"] {
  transform-origin: bottom center;
  transform: scaleX(1.005);
}


button {
  color: var(--text);
  cursor: pointer;
  background-color: var(--buttonBg);
  border: 1px solid transparent;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

button:hover, .active {
  background-color: var(--background);
  border-bottom: 2px solid var(--accent);
  color: var(--accent);
}

button:disabled {
  background-color: var(--disabled);
  color: var(--disabledColor);
  cursor: not-allowed;
  border: none;
}


a {
  color: inherit;
  text-decoration: none;
}
a:hover {color: var(--accent);}

#arrow-nav {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1001;
  button {
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--secondary);
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease;
  }
  button:disabled {
    background-color: var(--disabled);
    color: var(--disabledColor);
    cursor: not-allowed;
  }
  button:hover:not(:disabled) {
    color: var(--accent);
  }
}

.container {
  opacity: .9;
  padding: 20px;
  box-shadow: var(--shadowSecondary);
  background:
    linear-gradient(to right, var(--dividerColor) 2px, transparent 1px) 0 0,
    linear-gradient(to right, var(--dividerColor) 2px, transparent 1px) 0 100%,
    linear-gradient(to left, var(--dividerColor) 2px, transparent 1px) 100% 0,
    linear-gradient(to left, var(--dividerColor) 2px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, var(--dividerColor) 2px, transparent 1px) 0 0,
    linear-gradient(to bottom, var(--dividerColor) 2px, transparent 1px) 100% 0,
    linear-gradient(to top, var(--dividerColor) 2px, transparent 1px) 0 100%,
    linear-gradient(to top, var(--dividerColor) 2px, transparent 1px) 100% 100%;
  
  background-repeat: no-repeat;
  background-size: 20px 20px;
  overflow: hidden;
}
.sect-header {
  padding: 90px 8% 25px 8%;
  background-color: var(--sectHeader);
  border-image: linear-gradient(90deg, var(--sectHeader) 0%, var(--activeMarker) 100%) 1;
  border-width: 0 0 1px 0;
  width: 100%;

}
.sect-body {background-color: var(--sectBody);}
.sect-text {background-color: var(--sectHeader);}
.sect-text img {
  color: var(--accent);
}

.command-line {color: var(--commandText) !important;}

.secondary, .tertiary {
  .command-line-dot {
    background-color: var(--commandBgMain) !important;
  }
}

.title {
  .command-line-dot {
    background-color: var(--secondaryAccent) !important;
  }
  .command-line-title {
    background-color: var(--commandBgTitle) !important;
    color: var(--primary)
  }
}

.secondary {
  .command-line-title {
  background-color: var(--buttonBg) !important;
  color: var(--text) !important;
  }
}

.tertiary {
  .command-line-title {
    background-color: var(--commandBgMainTertiary) !important;
    color: var(--text) !important;
  }
}

.command-line-dot {
  margin-right: 6px;
  width: 8px;
  height: 8px;
  background-color: var(--commandBgDot);
}

.command-line-title, .command-line-sub, .command-line-add, .command-line-link {
  height: 25px;
  text-shadow: var(--shadowSecondary);
  padding: 0px 20px 0px 24px;
  /* clip right side */
  --tip-depth: 16px; /* how far the tip extends inward */
  display: inline-flex;
  align-items: center;
}

.command-line-title, .command-line-sub, .command-line-add {cursor: default;}

.command-line-sub, .command-line-add, .command-line-link {
  /* clip left side */
  margin-left: calc(-1 * var(--tip-depth) - 1px);
  clip-path: polygon(
    0 0,
    calc(100% - var(--tip-depth)) 0,
    100% 50%,
    calc(100% - var(--tip-depth)) 100%,
    0 100%,
    var(--tip-depth) 50%
  );
}

.command-line-title {
  background-color: var(--commandBgMain);
  padding: 2px 20px 2px 8px !important;
  margin: 0 12px 0 8px;
  clip-path: polygon(
    0 0,
    calc(100% - var(--tip-depth)) 0,
    100% 50%,
    calc(100% - var(--tip-depth)) 100%,
    0 100%
  );
}

.command-line-sub {background-color: var(--commandBgSub);}

.command-line-add {
  background-color: var(--commandBgMain);
  margin-right: 12px;
}

.command-line-link {
  background-color: var(--commandBgDot);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.command-line-link:hover {color: var(--background);}

/* home section */

#home {
  background-size: contain;
  background-position: center;
  .home-marker {
    border-image: linear-gradient(90deg, var(--tertiaryAccent) 32%, var(--activeMarker) 42%) 1;
    border-width: 1px 0;
  }
}

#square1, #square2, #square3 {
  border-image: linear-gradient(90deg, var(--sectHeader) 0%, var(--activeMarker) 100%) 1;
  border-width: 0 0 1px 0;
  color: var(--text);
  --typeSpeed: 50ms;
}

.line-1 {--charThickness: -10px;}
.line-2, .line-3 {--charThickness: -5px;}

.line-1 .char, .line-2 .char, .line-3 .char {
  opacity: 0;
  display: inline;
}

#square1 {
  background-color: var(--sectHeader);
  padding: 20px;
  box-shadow: var(--shadow);
  will-change: text-shadow;
  /* animation: rgbText 3s steps(9) 0s infinite alternate; */
  .line-1 .char {
    color: transparent;
    animation: type var(--typeSpeed) forwards;
    animation-delay: calc(var(--typeSpeed) * var(--char-index) + 0.5s);
  }
  .line-2 .char {
    color: transparent;
    animation: type var(--typeSpeed) forwards;
    animation-delay: calc(var(--typeSpeed) * var(--char-index) + 1.2s);
  }
}

#square2 {
  background-color: var(--sectHeader);
  padding: 20px;
  box-shadow: var(--shadow);
  /* animation: rgbText 3s steps(9) 0s infinite alternate; */
  .line-3 .char {
    color: transparent;
    animation: type var(--typeSpeed) forwards;
    animation-delay: calc(var(--typeSpeed) * var(--char-index) + 2.1s);
  }
  .blink-cursor::after {
    content: '_';
    opacity: 0;
    animation: blink 1.25s step-start infinite;
    animation-delay: calc(var(--typeSpeed) * 27 + 2.1s);
    margin-left: 6px;
    color: var(--accent);
  }
}

#square3 {
  background-color: var(--sectHeader);
  padding: 20px;
  box-shadow: var(--shadow);
}

/* about section */

#about {
  .about-marker {
    border-image: linear-gradient(90deg, var(--tertiaryAccent) 30%, var(--activeMarker) 40%) 1;
    border-width: 1px 0;
  }
}

.chrono-line {
  border-color: var(--dividerColor);
  height: calc(100% - 1.5rem);
  display: block;
}

.chrono-dot {
  width: 12px;
  height: 12px;
  background-color: var(--tertiaryAccent);
}

.event {
  border-image: linear-gradient(90deg, var(--tertiaryAccent) 0%, var(--dividerColor) 100%) 1;
  border-width: 0 0 1px 0;
  background-color: var(--sectHeader);
  width: 100%;
  display: flex;
  padding: 12px 15px;
  flex-direction: column;
  transition: transform 0.3s ease;
  gap: 6px;
  .skill {
    background-color: var(--primary);
    border: 2px solid var(--primary);
  } 
}

.event:hover {transform: scale(1.005);}

.skill {
  cursor: default;
  background-color: var(--background);
  border: 1px solid var(--background);
  transition: transform 0.3s ease, box-shadow 0.3s ease border 0.3s ease;
}

.skill:hover {transform: scale(1.03);}
.highlight {border-bottom: 2px solid var(--accent) !important;}

/* projects section */
#projects {
  .projects-marker {
    border-image: linear-gradient(90deg, var(--tertiaryAccent) 30%, var(--activeMarker) 40%) 1;
    border-width: 1px 0;
  }
}

.thumbnail {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--sectHeader);
  overflow: hidden  ;
  img {
    filter: saturate(.05);
    transition: filter 0.3s ease
  }
}

.thumbnail:hover,
input:hover, input:focus,
textarea:hover, textarea:focus {
  background:
    linear-gradient(to right, var(--accent) 1px, transparent 1px) 0 0,
    linear-gradient(to right, var(--accent) 1px, transparent 1px) 0 100%,
    linear-gradient(to left, var(--accent) 1px, transparent 1px) 100% 0,
    linear-gradient(to left, var(--accent) 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, var(--accent) 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, var(--accent) 1px, transparent 1px) 100% 0,
    linear-gradient(to top, var(--accent) 1px, transparent 1px) 0 100%,
    linear-gradient(to top, var(--accent) 1px, transparent 1px) 100% 100%;

  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: 20px 20px;
} 

.thumbnail:hover {
  box-shadow: var(--shadowSecondary);
  transform: scale(1.02);
  img {filter: saturate(1);}
}

.modal {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  overflow-y: hidden;
  z-index: 1001;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  animation: slideDown .6s ease-in-out forwards;
  .divider {
    width: 1px;
    margin: 10px 0;
    background-color: var(--dividerColor);
  }
}

.close-button {
  z-index: 1002;
  background-color: var(--background);
  color: var(--text);
}

.modal-image-container {
  background-color: #000000;
  aspect-ratio: 16 / 9;
  img {
    width: 100%;
    height: auto;
    max-height: 100%
  }
  .image-index {
    display: inline-block;
    background-color: var(--text);
    opacity: 0.7;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  .current-image {
    background-color: var(--accent);
    display: inline-block;
  }
}

.modal-image-container[data-loading="true"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image {animation: fadeIn 0.5s ease-in-out forwards;}

.bars-loader .morphing-bar {
  color: var(--accent);
  transform-origin: center;
  animation: morphingBar var(--loader-animation-speed) ease-in-out infinite;
}
.bars-loader rect {fill: var(--activeMarker);}
.bars-loader .morphing-bar-left {animation-delay: calc(var(--loader-animation-speed) / 2.5);}
.bars-loader .morphing-bar-center {animation-delay: calc(var(--loader-animation-speed) / 5);}
.bars-loader .morphing-bar-right {animation-delay: calc(var(--loader-animation-speed) / 7.5);}

/* contact section */

#contact {
  .contact-marker {
    border-image: linear-gradient(90deg, var(--tertiaryAccent) 25%, var(--activeMarker) 40%) 1;
    border-width: 1px 0;
  }
  .container:first-child {
    padding-bottom: 0;
  }
}

.alert {
  position: absolute;
  bottom: 280px;
  right: 20px;
  box-shadow: var(--shadow);
  color: var(--text);
  display: flex;
  align-items: center;
  background-color: var(--background);
  animation: slideRight 0.3s ease-out forwards;
}

.alert-success {border-bottom: 2px solid rgba(0, 255, 0, 0.7);}
.alert-info {border-bottom: 2px solid rgba(0, 0, 255, 0.7);}
.alert-error {border-bottom: 2px solid rgba(255, 0, 0, 0.7);}

input, textarea {
  background-color: var(--background);
  color: var(--text);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
}

input {background-size: 10px 10px !important;}
input:focus, textarea:focus {outline: none;}

/* Animations */

@keyframes type {
  0%, 9% {opacity:0; color: transparent; background-color: transparent;}
  10%, 99% {
    opacity: 1;
    color: transparent;
    box-shadow: inset 0 var(--charThickness) 0 0 var(--accent);
  }
  100% {opacity:1; color: var(--text); background-color: transparent;}
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

@keyframes flicker {
  to {mask-position: 50% 50%, 0 50%;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100vh) scaleX(1.01);
  }
  to {
    opacity: 1;
    transform: translateY(0) scaleX(1);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100vw) scaleX(1.01);
  }
  to {
    opacity: 1;
    transform: translateX(0) scaleX(1);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100vw) scaleX(1.01);
  }
  to {
    opacity: 1;
    transform: translateX(0) scaleX(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100vh) scaleX(1.01);
  }
  to {
    opacity: 1;
    transform: translateY(0) scaleX(1);
  }
}

@keyframes morphingBar {
  0%,
  100% {transform: scaleY(1);}
  50% {transform: scaleY(0.5);}
}

/* Transitions */

.custom-section, .event, .skill, .thumbnail, .modal, 
.home-marker, .about-marker, .projects-marker, .contact-marker, header button, footer button, .active, .pinned, .sect-header, .sect-body, .command-line-title, .command-line-sub, .command-line-add, .command-line-link,
.container, .terminal::before, .chrono-dot, .chrono-line, .top-markers, .bottom-markers, .grid-layer, .bglayer {
  transition:  
    background-color 250ms ease,
    color 250ms ease,
    border-color 250ms ease;
}

/* Responsive Design */

@media (max-width: 640px) {
  .chrono-line {height: calc(100% - .5rem) !important;}

  .modal-image-container img {
    width: 90vw;
    height: auto;
  }
  .line-1 {--charThickness: -3px;}
  .line-2, .line-3 {--charThickness: -2px;}
  .skills-container .event {
    padding: 6px 10px;
  }
}
