@import "tailwindcss";

/* Variables */

:root {
  --primary : #f0f0f0;
  --secondary : #333333;
  --accent : rgb(0, 122, 204);
  --background : #ffffff;
  --sectHeader : #ffffffb5;
  --sectBody : #f0f0f0b5;
  --disabled : rgba(150, 150, 150, 0.1);
  --disabledColor : rgba(150, 150, 150, 0.2);
  --text : #252525;
  --footerText : #ffffff;
  --headerBg : rgba(255, 255, 255, 0.3);
  --footerBg : rgba(0, 0, 0, 0.7);
  --buttonBg : #e9e9e9;
  --shadow : 0px 4px 4px 2px rgba(65, 65, 65, 0.05);
  --sectionShadow : 0px 75px 30px 20px rgba(0, 0, 0, 0.1);
  --pinnedShadow : 0px 20px 30px 20px rgba(0, 0, 0, 0.5);
  --shadowSecondary : 0px 4px 8px rgba(185, 185, 185, 0.3);
  --shadowTertiary : 0px 4px 25px rgba(185, 185, 185, 0.3);
  --sublayerColor: #ffffff;
  --toplayerColor: rgba(255, 255, 255, 0.2);
  --maskBgColor: rgba(0, 0, 0, 0.1);
  --maskColor: rgba(0, 0, 0, 0.7);
  --bgPattern1: rgba(0, 0, 0, 0.05);
  --bgPattern2: rgba(0, 0, 0, 0.1);
  --bgPattern3: rgba(0, 0, 0, 0.15);
  --bgPattern4: rgba(0, 0, 0, 0.2);
  --bgPattern5: rgba(0, 0, 0, 0.25);
  --bgPattern6: rgba(0, 0, 0, 0.3);
  --commandBgMain: rgb(255, 220, 40);
  --commandBgMainSecondary: rgb(151, 193, 221);
  --commandBgMainTertiary: rgb(255, 255, 255, 0.9);
  --commandBgSub: rgb(255, 155, 40);
  --commandShadow: 3px 3px 1px rgba(65, 65, 65, 0.1);
  --commandText: #333333;
  --dividerColor: rgba(0, 0, 0, 0.1);
  --homeMarker: rgba(75, 75, 75, 0.02);
  --aboutMarker: rgba(75, 75, 75, 0.04);
  --projectsMarker: rgba(75, 75, 75, 0.06);
  --contactMarker: rgba(75, 75, 75, 0.08);
  --activeMarker: rgba(0, 83, 138, 0.1);
}

[data-theme="dark"] {
  --primary : #2c2c2c;
  --secondary : #0f0f0f;
  --accent : #65aedf;
  --background : #333333;
  --sectHeader : #333333b5;
  --sectBody : #2c2c2cb5;
  --disabled : rgba(150, 150, 150, 0.1);
  --disabledColor : rgba(150, 150, 150, 0.2);
  --text : #dfdfdf ;
  --footerText : #ffffff;
  --headerBg : rgba(75, 75, 75, 0.3);
  --footerBg : rgba(20, 20, 20, 0.7);
  --buttonBg : #222222;
  --shadow : 0px 8px 8px 5px rgba(0, 0, 0, 0.05);
  --sectionShadow : 0px 75px 30px 20px rgba(0, 0, 0, 0.2);
  --pinnedShadow : 0px 0px 30px 20px rgba(0, 0, 0, 0.5);
  --shadowSecondary : 0px 4px 8px rgba(65, 65, 65, 0.3);
  --shadowTertiary : 0px 4px 8px rgba(65, 65, 65, 0.3);
  --sublayerColor: #333333;
  --toplayerColor: rgba(55, 55, 55, 0.1);
  --maskBgColor: rgba(0, 0, 0, 0.1);
  --maskColor: rgba(255, 255, 255, 0.7);
  --bgPattern1: rgba(150, 150, 150, 0.05);
  --bgPattern2: rgba(150, 150, 150, 0.1);
  --bgPattern3: rgba(150, 150, 150, 0.15);
  --bgPattern4: rgba(150, 150, 150, 0.2);
  --bgPattern5: rgba(150, 150, 150, 0.25);
  --bgPattern6: rgba(150, 150, 150, 0.3);
  --commandBgMain: rgb(255, 220, 40);
  --commandBgMainSecondary: rgb(151, 193, 221);
  --commandBgMainTertiary: rgb(36, 36, 36, 0.8);
  --commandBgSub: rgb(255, 155, 40);
  --commandShadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
  --commandText: #333333;
  --dividerColor: rgba(255, 255, 255, 0.1);
  --homeMarker: rgba(5, 5, 5, 0.03);
  --aboutMarker: rgba(5, 5, 5, 0.05);
  --projectsMarker: rgba(5, 5, 5, 0.07);
  --contactMarker: rgba(5, 5, 5, 0.09);
  --activeMarker: rgba(0, 58, 97, 0.1);
}

/* Fonts */

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu Sans Mono/UbuntuSansMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu Sans Mono/UbuntuSansMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu Sans Mono/UbuntuSansMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

.ubuntu-bold {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
}

/* Global Styles */

html, body {
  height: 100%;
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  color : var(--text);
  font-family: 'Ubuntu Mono', monospace;
}

#root {
  background-color: var(--secondary);
}

.custom-section {
  --size: 10px;
  overflow-y: hidden;
  .sublayer, .toplayer {
    pointer-events: none;
  }
  .grid-layer {
    display: grid;
    place-items: center;
    background: var(--primary);
  }
  .bglayer {
    background: conic-gradient(from 180deg at 50% 70%,
      var(--bgPattern1) 0deg,
      var(--bgPattern2) 72.0000010728836deg,
      var(--bgPattern3) 144.0000021457672deg,
      var(--bgPattern4) 216.00000858306885deg,
      var(--bgPattern5) 288.0000042915344deg,
      var(--bgPattern1) 1turn);
    width: 100%;
    height: 100%;
    mask:
      radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
      url("/images/backgrounds/noise-mask.png") 512px 50% / 512px 512px;
    mask-composite: intersect;
    animation: flicker 20s infinite linear;
  }
  
}

.top-markers, .bottom-markers {
  height: 25rem;
  width: 50rem;
  display: flex;
  align-items: center;
}

.top-markers {
  justify-content: end;
  flex-direction: column-reverse;
  transform: rotate(135deg) translate(0, -25rem);
}

.bottom-markers {
  justify-content: start;
  flex-direction: column;
  transform: rotate(135deg) translate(0, 25rem);
}

.home-marker, .about-marker, .projects-marker, .contact-marker {
  height: 2.5rem;
  width: 100%;
}

.home-marker {
  background-color: var(--homeMarker);
}
.about-marker {
  background-color: var(--aboutMarker);
}
.projects-marker {
  background-color: var(--projectsMarker);
}
.contact-marker {
  background-color: var(--contactMarker);
}

section{
    position: relative;
    overflow: hidden;
    align-items: center;
    background-size: cover;
    color : var(--text);

    padding-top: 64px; /* Adjusted for header height */
    transition: transform 0.3s ease;
}

.terminal::before {
  content: '> ';
  color: var(--accent);
}

header {
  position: fixed;
  top: 0;
  background-color: var(--headerBg);
  z-index: 1000;
  box-shadow: var(--shadowSecondary);
  color: var(--text);
  button {
    cursor: pointer;
    border: none !important;
    border-bottom: 3px solid transparent !important;
    background-color: transparent !important;
    transition: color border 0.5s ease;
    padding: 10px;
    height: 70px;
  }
  button:hover {
    color: var(--accent);
    border: none;
    background-color: transparent;
  }

  .active {
    border-bottom: 3px solid var(--accent) !important;
  }
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--headerBg);
  color: var(--text);
  z-index: 1;
  box-shadow: var(--shadowTertiary);
  button {
    color: var(--text);
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: color 0.3s ease;
  }
  button:hover {
    color: var(--accent);
    border: none;
    background-color: transparent;
  }
  li a, button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  hr {
    color: var(--dividerColor);
  }
}

.pinned {
  box-shadow: var(--sectionShadow);
  transition: box-shadow .2s ease-in, transform 0.2s ease-in-out;
  position: sticky;
  bottom: 0;
}

.pinned[data-first="true"] {
  transform-origin: bottom center;
  transform: scaleX(1.01);
}

.pinned > :last-child {
  box-shadow: var(--pinnedShadow);
}

button {
  color: var(--text);
  cursor: pointer;
  background-color: var(--buttonBg);
  border: 1px solid var(--primary);
}

button:hover {
  background-color: var(--background);
  border: 1px solid var(--accent);
  color: var(--accent);
}

button:disabled {
  background-color: var(--disabled);
  color: var(--disabledColor);
  cursor: not-allowed;
  border: none;
}

.active {
  background-color: var(--background);
  border: 1px solid var(--accent);
  color: var(--accent);
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}

#arrow-nav {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1001;
  button {
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--secondary);
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease;
  }
  button:disabled {
    background-color: var(--disabled);
    color: var(--disabledColor);
    cursor: not-allowed;
  }
  button:hover:not(:disabled) {
    color: var(--accent);
  }
}

.container {
  opacity: .9;
  padding: 20px;
  box-shadow: var(--shadow);
  background:
    linear-gradient(to right, var(--text) 1px, transparent 1px) 0 0,
    linear-gradient(to right, var(--text) 1px, transparent 1px) 0 100%,
    linear-gradient(to left, var(--text) 1px, transparent 1px) 100% 0,
    linear-gradient(to left, var(--text) 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, var(--text) 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, var(--text) 1px, transparent 1px) 100% 0,
    linear-gradient(to top, var(--text) 1px, transparent 1px) 0 100%,
    linear-gradient(to top, var(--text) 1px, transparent 1px) 100% 100%;
  
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.sect-header {
  background-color: var(--sectHeader);
}
.sect-body {
  background-color: var(--sectBody);
}

.command-line {
  color: var(--commandText) !important;
  filter: drop-shadow(var(--commandShadow));
}

.secondary {
  .command-line-title {
  background-color: var(--buttonBg) !important;
  color: var(--text) !important;
  }
  .command-line-dot {
    /* background-color: var(--buttonBg) !important; */
  }
}

.tertiary {
  .command-line-title {
    background-color: var(--commandBgMainTertiary) !important;
    color: var(--text) !important;
  }
  .command-line-dot {
    /* background-color: var(--commandBgMainTertiary) !important; */
  }
}

.command-line-dot {
  margin-right: 6px;
  width: 10px;
  height: 10px;
  background-color: var(--accent);
}

.command-line-title, .command-line-sub, .command-line-add, .command-line-link {
  height: 28px;
  text-shadow: var(--shadowTertiary);
  padding: 2px 20px 2px 24px;
  /* clip right side */
  --tip-depth: 16px; /* how far the tip extends inward */
}

.command-line-title, .command-line-sub, .command-line-add {
  cursor: default;
}

.command-line-sub, .command-line-add, .command-line-link {
  /* clip left side */
  margin-left: calc(-1 * var(--tip-depth) - 1px);
  clip-path: polygon(
    0 0,
    calc(100% - var(--tip-depth)) 0,
    100% 50%,
    calc(100% - var(--tip-depth)) 100%,
    0 100%,
    var(--tip-depth) 50%
  );
}

.command-line-title {
  background-color: var(--commandBgMain);
  padding: 2px 20px 2px 8px !important;
  margin: 0 12px 0 8px;
  clip-path: polygon(
    0 0,
    calc(100% - var(--tip-depth)) 0,
    100% 50%,
    calc(100% - var(--tip-depth)) 100%,
    0 100%
  );
}

.command-line-sub {
  background-color: var(--commandBgSub);
}

.command-line-add {
  background-color: var(--commandBgMain);
  margin-right: 12px;
}

.command-line-link {
  background-color: var(--accent);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.command-line-link:hover {
  background-color: var(--accent);
  color: var(--background);
}

/* home section */

#home {
  background-size: contain;
  background-position: center;
  .home-marker {
    background-color: var(--activeMarker);
    border: 1px solid var(--background);
  }
}

#square1, #square2, #square3 {
  color: var(--text);
  --typeSpeed: 45ms;
}

.line-1 .char, .line-2 .char, .line-3 .char {
  opacity: 0;
  display: inline;
}

#square1 {
  background-color: var(--sectHeader);
  padding: 20px;
  box-shadow: var(--shadow);
  will-change: text-shadow;
  /* animation: rgbText 3s steps(9) 0s infinite alternate; */
  .line-1 .char {
    color: transparent;
    animation: type var(--typeSpeed) forwards;
    animation-delay: calc(var(--typeSpeed) * var(--char-index));
  }
  .line-2 .char {
    color: transparent;
    animation: type var(--typeSpeed) forwards;
    animation-delay: calc(var(--typeSpeed) * var(--char-index) + .7s);
  }
}

#square2 {
  background-color: var(--sectHeader);
  padding: 20px;
  box-shadow: var(--shadow);
  /* animation: rgbText 3s steps(9) 0s infinite alternate; */
  .line-3 .char {
    color: transparent;
    animation: type var(--typeSpeed) forwards;
    animation-delay: calc(var(--typeSpeed) * var(--char-index) + 1.6s);
  }
  .blink-cursor::after {
    content: '█';
    opacity: 0;
    animation: blink 1.25s step-start infinite;
    animation-delay: calc(var(--typeSpeed) * 27 + 1.6s);
    margin-left: 5px;
    color: var(--accent);
  }
}

#square3 {
  background-color: var(--sectHeader);
  padding: 20px;
  box-shadow: var(--shadow);
}

/* about section */

#about {
  .about-marker {
    background-color: var(--activeMarker);
    border: 1px solid var(--background);
  }
}

.chrono-line {
  border-color: var(--background);
  height: calc(100% - 1.5rem);
  display: block;
}

@media (max-width: 640px) {
  .chrono-line {
    height: calc(100% - .5rem) !important;
  }
}

.chrono-dot {
  background-color: var(--accent);
  filter: drop-shadow(var(--commandShadow));
}

.event {
  background-color: var(--sectHeader);
  width: 100%;
  padding: 15px;
  /* margin-bottom: 1rem; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* box-shadow: var(--shadow); */
  display: flex;
  flex-direction: column;
  gap: 4px;
  .skill {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  } 
}

.event:hover {
  box-shadow: var(--shadowSecondary);
  transform: scale(1.005);
}

.skill {
  cursor: default;
  background-color: var(--background);
  border: 1px solid var(--background);
  transition: transform 0.3s ease, box-shadow 0.3s ease border 0.3s ease;
}

.skill:hover {
  box-shadow: var(--shadowSecondary);
  transform: scale(1.03);
}

.highlight {
  border: 1px solid var(--commandBgMain) !important;
}

/* projects section */
#projects {
  .projects-marker {
    background-color: var(--activeMarker);
    border: 1px solid var(--background);
  }
}

.thumbnail {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--sectHeader);
  overflow: hidden  ;
  img {
    filter: saturate(.05);
    transition: filter 0.3s ease
  }
}

.thumbnail:hover {
  box-shadow: var(--shadowSecondary);
  transform: scale(1.02);
  background:
    linear-gradient(to right, var(--accent) 1px, transparent 1px) 0 0,
    linear-gradient(to right, var(--accent) 1px, transparent 1px) 0 100%,
    linear-gradient(to left, var(--accent) 1px, transparent 1px) 100% 0,
    linear-gradient(to left, var(--accent) 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, var(--accent) 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, var(--accent) 1px, transparent 1px) 100% 0,
    linear-gradient(to top, var(--accent) 1px, transparent 1px) 0 100%,
    linear-gradient(to top, var(--accent) 1px, transparent 1px) 100% 100%;

  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  img {
    filter: drop-shadow(var(--shadowTertiary));
    filter: saturate(1);
  }
}

.modal {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  z-index: 1001;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  animation: slideDown 0.3s ease-in-out forwards;
  .divider {
    width: 1px;
    margin: 10px 0;
    background-color: var(--dividerColor);
  }
}

.close-button {
  z-index: 1002;
  background-color: var(--background);
  color: var(--text);
}

.modal-image-container {
  img {
    max-width: 100%;
    max-height: 60vh;
  }
  .image-index {
    display: inline-block;
    background-color: var(--text);
    opacity: 0.7;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  .current-image {
    background-color: var(--accent);
    display: inline-block;
  }
}

/* contact section */

#contact {
  .contact-marker {
    background-color: var(--activeMarker);
    border: 1px solid var(--background);
  }
}

.alert {
  position: absolute;
  bottom: 280px;
  right: 20px;
  box-shadow: var(--shadow);
  color: var(--text);
  background-color: var(--background);
}

input, textarea {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--primary);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

form button {
  background-color: var(--buttonBg);
  color: var(--text);
  border: 1px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
}

input:hover, textarea:hover {
  border: 1px solid var(--accent);
}

input:focus, textarea:focus {
  border: 1px solid var(--accent);
  outline: none;
}

/* Animations */

@keyframes type {
  0%, 9% {opacity:0; color: transparent; background-color: transparent;}
  10%, 99% {opacity:1; color: transparent; background-color: var(--accent);}
  100% {opacity:1; color: var(--text); background-color: transparent;}
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

@keyframes flicker {
  to {
    mask-position: 50% 50%, 0 50%;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%) scaleX(1.01);
  }
  to {
    opacity: 1;
    transform: translateY(0) scaleX(1);
  }
}

/* Transitions */

.custom-section, .event, .skill, .thumbnail, .modal, 
.home-marker, .about-marker, .projects-marker, .contact-marker, header button, footer button, .active, .pinned, .sect-header, .sect-body, .command-line-title, .command-line-sub, .command-line-add, .command-line-link,
.container, .terminal::before, .chrono-dot, .chrono-line, .top-markers, .bottom-markers, .grid-layer, .bglayer {
  transition:  
    background-color 250ms ease,
    color 250ms ease,
    border-color 250ms ease;
}
